@import 'assets/colors/colors.scss';

.messageContainer {
    display: flex;
    justify-content: flex-end;

    @media (min-width: 1500px) {
        padding-right: calc(10% + 20px);
    }

    @media (min-width: 1400px) and (max-width: 1499px) {
        padding-right: calc(10% + 25px);
    }

    @media (min-width: 1300px) and (max-width: 1399px) {
        padding-right: calc(10% + 30px);
    }

    @media (min-width: 1200px) and (max-width: 1299px) {
        padding-right: calc(10% + 40px);
    }

    @media (min-width: 1100px) and (max-width: 1199px) {
        padding-right: calc(10% + 50px);
    }

    @media (min-width: 1000px) and (max-width: 1099px) {
        padding-right: calc(10% + 60px);
    }

    @media (max-width: 999px) {
        padding-right: calc(10% + 70px);
    }

    @media (max-width: 480px) {
        padding-right: 0;
    }
}

.messagePosition {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.messageBalloon {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px;
    max-width: 1391px;
    border-radius: 20px 20px 0px 20px;
    color: $black;
    background-color: $gray-user-message;
    font-size: 18px;

    @media (max-width: 960px) {
        font-size: 16px;
    }
}

.messageTail:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-left-color: $gray-user-message;
    border-right: 0;
    border-bottom: 0;
    margin-top: -1.5px;
    margin-right: -18px;
    bottom: 0;
}

.messageTime {
    color: $gray-time-message;
    font-size: 14px;
    margin-bottom: 16px;

    @media (max-width: 960px) {
        font-size: 10px;
    }
}
