NODE_ENV=homologation
ASSISTANT_API=ASSISTANT_API
WATSON_API_KEY=APIKEY
ASSISTANT_ID_DEV=ASSISTANT_ID
WATSON_API_URL=https://api.us-south.assistant.watson.cloud.ibm.com/instances/URL
CORS_ENABLED_ORIGIN=*
PORT=3002

#If you have a integration
   #ACTIONS_URL_SNOW=https://teste.com/api
   #ACTIONS_USERNAME_SNOW=TESTE
   #ACTIONS_PASSWORD_SNOW='teste'

#The proxy if you have a integration
   #PROXY_URL=127.0.0.1
   #PROXY_PORT=8899
   #PROXY_USER=
   #PROXY_PASS=
   #PROXY_ENABLED=true
LOGGER_LEVEL=["error",'log','debug']
