@import 'assets/colors/colors.scss';

.messageContainer {
    display: flex;
}

.messageBallon {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
    max-width: 448px;
    min-width: 100px;
    border-radius: 20px 20px 20px 0;
    color: $black;
    background-color: $gray-bot-message;

    & p {
        font-size: 0.95rem;
        white-space: pre-wrap;
        word-break: break-word;
    }

    @media (max-width: 480px) {
        max-width: 100%;
    }
}

.messageTail:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    bottom: 0;
    border: 18px solid transparent;
    border-right-color: $gray-bot-message;
    border-left: 0;
    border-bottom: 0;
    margin-top: 1.5px;
    margin-left: -18px;
}

.messageAvatar {
    align-self: flex-end;
    margin: 10px 32px 40px 0;
}

.messageTime {
    color: $gray-time-message;
    font-size: 14px;
    margin-bottom: 16px;

    @media (max-width: 960px) {
        font-size: 10px;
    }
}

.messageContent {
    display: flex;
    flex-direction: column;
}

.imageSize {
    max-width: 100%;
    max-height: 100%;
    border-radius: 14px;
    border: solid 2px $gray-media-modal-border;

    &:hover {
        cursor: pointer;
        border-radius: 14px;
        border: solid 2px $red;
    }
}

.imageStyle {
    max-width: 100%;
    height: auto;
}
