@import 'assets/colors/colors.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
}

.list {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
}

.listItem {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    color: $black;
}

.excludeButton {
    font-size: 12px;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
    min-width: 16px;
    min-height: 16px;

    & svg {
        fill: $red;
    }
}

.addFiles {
    cursor: pointer;
    padding: 10px;
    min-height: 40px;
    border-radius: 20px;
    font-size: 14px;
    color: $red;
    border: 1px solid $red;
    background: $white;
    min-width: 128px;
}

.sendFiles {
    margin-left: 16px;
    cursor: pointer;
    padding: 10px;
    min-height: 40px;
    border-radius: 20px;
    font-size: 14px;
    color: $white;
    border: 1px solid $red;
    background-image: linear-gradient(
        110deg,
        $red-light 0%,
        $red 26%,
        $red 65%,
        $purple 100%
    );
    min-width: 128px;
}

.fileInfo {
    font-size: 16px;
    color: $gray-time-message;
}
