@import 'assets/colors/colors.scss';

.messageContainer {
    display: flex;
    // padding-left: 80px;
}

.messageContent {
    display: flex;
    flex-direction: column;
}

.messageBallon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    min-width: 56px;
    border-radius: 30px 30px 30px 0;
    color: $black;
    background-color: $gray-bot-message;

    & p {
        font-size: 18px;
        white-space: pre-wrap;
        word-break: break-word;
    }
}

.messageTail:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    bottom: 0;
    border: 18px solid transparent;
    border-right-color: $gray-bot-message;
    border-left: 0;
    border-bottom: 0;
    margin-top: 1.5px;
    margin-left: -18px;
}

.messageAvatar {
    align-self: flex-end;
    margin: 0 32px 8px 0;
}
