@import 'assets/colors/colors.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
    max-width: 1400px;
}

.button {
    cursor: pointer;
    margin: 0 16px 16px 0;
    padding: 8px 10px;
    min-height: 80px;
    border-radius: 20px;
    font-size: 16px;
    color: $red;
    border: 1px solid $red;
    background: $white;
    // tamanho botão de opções tela chatbot
    width: 300px;

    &:hover {
        color: $white;
        background-color: $red;
    }

    &Disabled {
        cursor: not-allowed;
        color: $gray-user-message;
        background-color: transparent;
        border: 1px solid $gray-user-message;
        margin: 0 16px 16px 0;
        padding: 8px 10px;
        min-height: 80px;
        border-radius: 20px;
        font-size: 16px;
         // tamanho botão de opções tela chatbot
        width: 300px;

        @media (max-width: 960px) {
            min-height: 48px;
            min-width: 160px;
            border-radius: 24px;
            margin: 0 8px 8px 0;
            padding: 10px 14px;
        }
    }

    &Selected {
        cursor: default;
        color: $white;
        background-color: $red;
        border: 1px solid transparent;
        margin: 0 16px 16px 0;
        padding: 8px 10px;
        min-height: 80px;
        border-radius: 20px;
        font-size: 16px;
        // tamanho botão de opções tela chatbot        
        width: 300px;

        &:hover {
            color: $white;
            background-color: $red;
        }

        @media (max-width: 960px) {
            min-height: 80px;
            min-width: 300px;
            border-radius: 24px;
            margin: 0 8px 8px 0;
            padding: 10px 14px;
        }
    }

    @media (max-width: 960px) {
        min-height: 80px;
        min-width: 300px;
        border-radius: 24px;
        margin: 0 8px 8px 0;
        padding: 10px 14px;
    }
}

.selected {
    color: $white;
    background-image: linear-gradient(
        110deg,
        $red-light 0%,
        $red 26%,
        $red 65%,
        $purple 100%
    );
}
